<script setup lang="ts">
import { ref, reactive, watch, nextTick } from "vue";
class Person {
  id: number;
  name: string;
  surname: string;
  gerder: string;
  static lasId = 1;
  constructor(name: string, surname: string, gerder: string) {
    this.id = Person.lasId++;
    this.name = name;
    this.surname = surname;
    this.gerder = gerder;
  }
}
const person = reactive<Person>({ id: -1, name: "", surname: "", gerder: "" });
const msg = reactive({ name: "", surname: "", gerder: "" });
const personList = ref<Person[]>([]);
const showForm = ref(false);
const checkName = function (name: string) {
  if (name.trim().length === 0) {
    msg.name = "First name is empty!!!";
    return false;
  }
  msg.name = "";
  return true;
};
watch(
  () => person.name,
  (name) => {
    checkName(name);
  }
);

const checkSurname = (surname: string): boolean => {
  if (surname.trim().length === 0) {
    msg.surname = "Second name is empty!!!";
    return false;
  }
  msg.surname = "";
  return true;
};

watch(
  () => person.surname,
  (surname) => {
    checkSurname(surname);
  }
);

function checkGerder(gerder: string) {
  if (gerder.trim().length === 0) {
    msg.gerder = "Gerder is empty!!!";
    return false;
  }
  msg.gerder = "";
  return true;
}
const clearForm = function () {
  person.name = "";
  person.surname = "";
  person.gerder = "";
  person.id = -1;
  // Update
  nextTick(() => {
    msg.name = "";
    msg.surname = "";
    msg.gerder = "";
  });
};
watch(
  () => person.gerder,
  (gerder) => {
    checkGerder(gerder);
  }
);

function doSubmit() {
  if (
    checkName(person.name) &&
    checkSurname(person.surname) &&
    checkGerder(person.gerder)
  ) {
    if (person.id < 0) {
      // Add New
      const p = new Person(person.name, person.surname, person.gerder);
      personList.value.push(p);
      console.log(personList.value);
    } else {
      // Edit
      const index = personList.value.findIndex((item) => item.id === person.id);
      personList.value[index].name = person.name;
      personList.value[index].surname = person.surname;
      personList.value[index].gerder = person.gerder;
    }
    clearForm();
    showForm.value = false;
  }
}
const doEdit = function (p: Person) {
  person.name = p.name;
  person.surname = p.surname;
  person.gerder = p.gerder;
  person.id = p.id;
  showForm.value = true;
};
const doDelete = function (p: Person) {
  const index = personList.value.findIndex((item) => item.id === p.id);
  personList.value.splice(index, 1);
};
</script>
<template>
  <h2>Person</h2>
  <div v-if="showForm" class="form">
    <form>
      <label for="name">First Name</label>
      <input
        type="text"
        id="name"
        placeholder="Please enter your First name"
        v-model="person.name"
        autocomplete="off"
      />
      <span class="erorr">{{ msg.name }}</span>

      <label for="surname">Second Name</label>
      <input
        type="text"
        id="surname"
        placeholder="Please enter your Second name"
        v-model="person.surname"
        autocomplete="off"
      />
      <span class="erorr">{{ msg.surname }}</span>

      <label for="gerder">Gerder</label>
      <select id="gerder" v-model="person.gerder">
        <option value="M">Male</option>
        <option value="F">Famale</option>
      </select>
      <span class="erorr">{{ msg.gerder }}</span>

      <input type="submit" value="Submit" @click.prevent="doSubmit" />
    </form>
  </div>
  <div v-if="!showForm">
    <div style="width: 100%; text-align: right">
      <button style="width: 100px" @click="showForm = !showForm">Add</button>
    </div>
    <table id="person">
      <thead>
        <th>ID</th>
        <th>First Name</th>
        <th>Second Name</th>
        <th>Gender</th>
        <th style="width: 235px">Operation</th>
      </thead>
      <tr v-for="(item, index) in personList" :key="index">
        <td>{{ item.id }}</td>
        <td>{{ item.name }}</td>
        <td>{{ item.surname }}</td>
        <td>{{ item.gerder }}</td>
        <td>
          <button
            style="width: 100px; background-color: gray"
            @click="doEdit(item)"
          >
            Edit</button
          ><button
            style="width: 100px; margin-left: 1em; background-color: red"
            @click="doDelete(item)"
          >
            Delete
          </button>
        </td>
      </tr>
      <tr>
        <td
          colspan="5"
          style="text-align: center"
          v-if="personList.length === 0"
        >
          No Data
        </td>
      </tr>
    </table>
  </div>
</template>
<style scoped>
input[type="text"],
select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type="submit"],
button {
  width: 100%;
  background-color: #4caf50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

div.form {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}
.erorr {
  color: red;
  font-size: smaller;
  display: block;
}
#person {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#person td,
#person th {
  border: 1px solid #ddd;
  padding: 8px;
}

#person tr:nth-child(even) {
  background-color: #f2f2f2;
}

#person tr:hover {
  background-color: #ddd;
}

#person th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #04aa6d;
  color: white;
}
</style>
